/*

headings : Georgia
text : Lato

green : #01996D
darkgreen : #245852
nav black : #292929
paragraph black : 424242

*/

@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500;700&family=Lato:wght@300;400;700;900&display=swap");

:root {
  --green: #01996d;
  --darkgreen: #245852;
  --black: #000000;
  --mediumblack: #292929;
  --lightblack: #424242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: var(--lightblack);
}

a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 1.6rem;
}

img {
  width: 100%;
}

video {
  max-width: 50rem;
  border-radius: 1em;
}

.container {
  width: 80%;
  margin: auto;
}

/* Navigation style */

nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  align-items: center;
}

nav .container a h1 {
  color: var(--green);
  font-weight: 900;
  margin-right: 3em;
}

nav .container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex: 2;
  align-items: center;
  margin: 0 3em;
}

li a {
  color: var(--mediumblack);
}

.cta {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cta a {
  margin-left: 2em;
  color: var(--mediumblack);
}

a.btn {
  padding: 0.8em 1.4em;
  background-color: var(--green);
  color: white;
  border-radius: 0.2em;
}

/* Header section style */

header {
  height: 100vh;
  background-image: url("https://source.unsplash.com/CwTBt6jyagQ/1600x900");
  background-position-y: 35%;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2,
h3 {
  color: var(--green);
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3rem;
  margin-bottom: 0.5em;
}

h2 span,
h3 span {
  display: block;
}

header .container p {
  color: var(--lightblack);
  line-height: 1.6rem;
  margin-bottom: 2.8em;
}

header .container p span {
  display: block;
}

header .container .btn {
  width: fit-content;
  width: -moz-fit-content;
}

main .header {
  display: flex;
  padding: 4em 0;
  margin-top: 4em;
}

.header-left,
.header-right {
  flex: 1;
}

.header-left h3 {
  font-size: 2.5rem;
}

h3 span.number {
  display: inline-block;
}

.header-right {
  display: flex;
  align-items: center;
}

/* Main Grid Section */

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  min-height: 90vh;
  padding: 2em 0;
}

section h4 {
  font-family: "Frank Ruhl Libre", serif;
  color: var(--black);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2em;
}

section h4 {
  position: relative;
}

section h4.one:before {
  content: "01";
  position: absolute;
  font-size: 5rem;
  left: 20%;
  bottom: -70%;
  color: var(--green);
  opacity: 0.2;
  z-index: -2;
}

section h4.two:before {
  content: "02";
  position: absolute;
  font-size: 5rem;
  left: 10%;
  bottom: -70%;
  color: var(--green);
  opacity: 0.2;
  z-index: -2;
}

section h4.three:before {
  content: "03";
  position: absolute;
  font-size: 5rem;
  left: 25%;
  bottom: -70%;
  color: var(--green);
  opacity: 0.2;
  z-index: -2;
}

.main-grid section:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 16em;
}

.main-grid section:last-child {
  margin-top: 3em;
}

section p {
  margin-bottom: 3em;
}

section img {
  max-height: 25em;
  border-radius: 0.5em;
}

/* video player section */

button.hide-btn {
  display: none;
}

section.bg-sec {
  background-color: var(--darkgreen);
}

.bg-sec .container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 10em 0;
}

.bg-left {
  align-self: center;
}

.bg-left h4 {
  color: white;
  font-size: 2.3rem;
  text-align: start;
  margin-bottom: 0.5em;
}

.bg-left h4 span {
  display: block;
}

.bg-left p {
  color: white;
  font-size: 1.2rem;
}

/* video player */

.video-player {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#play-btn {
  position: absolute;
  left: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#play-btn:focus {
  border: none;
}
